.basket {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 16px;
  background-color: #232526;
}

.h {
  font-size: 18px;
  font-weight: 700;
}

.button {
  padding: 8px 16px;
  background-color: #F86600;
  font-weight: 700;
  border-radius: 40px;
}

@media screen and (min-width: 1025px) {
  .basket {
    position: static;
    flex-direction: column;
    width: auto;
    height: 161px;
    border-radius: 24px;
  }

  .button {padding: 12px 16px}
}